@model OnlineBookStore.Models.VerifyOtpViewModel

@{
    ViewData["Title"] = "Verify OTP";
}

<h2>Verify OTP</h2>

<form asp-action="VerifyOTP" method="post">
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="OTP"></label>
        <input asp-for="OTP" class="form-control" />
        <span asp-validation-for="OTP" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Verify OTP</button>
</form>
